{% extends 'base/body.html' %}
{% load staticfiles %}
{% block description %}Pagina principal de Logeo para entrar a las aplicaciones de CABS{% endblock %}
{% block title %}Inicio de Sessi&oacute;n CABS{% endblock %}
{% block additionalheadexternalafter %}
    <link href="{% static 'dist/css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
{% endblock %}
{% block section %}
    <div class="container">
        <form class="form-signin" method="POST" action="{% url 'login' %}" id="form_account">
            {% csrf_token %}
            <h2 class="form-signin-heading">Inicio de Sesi&oacute;n</h2>
            <label for="inputEmployee" class="sr-only">N&uacute;mero Empleado</label>
            <input type="text" id="inputEmployee" name="inputEmployee" class="form-control"
                   placeholder="N&uacute;mero de Empleado" autocomplete="off" required
                   autofocus>
            <label for="inputPassword" class="sr-only">Contrase&ntilde;a</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control"
                   placeholder="Contrase&ntilde;a" autocomplete="off" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesi&oacute;n</button>
            {% if message_warning %}
                <br>
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Warning !!</h4>
                    <p class="mb-0">{{ message_warning|escape }}.</p>
                </div>
            {% endif %}
            {% if message_info %}
                <br>
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Sesi&oacute;n Cerrada !!</h4>
                    <p class="mb-0">{{ message_info|escape }}.</p>
                </div>
            {% endif %}
            {% if message_error %}
                <br>
                <div id="error">
                    <div class="alert alert-danger" role="alert">
                        <strong>ERROR. </strong> {{ message_error|escape }}.
                        <div id="message"></div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" charset="UTF-8">

        /**
         * Created by Jose Daniel Hernandez Osorio - isc.danielosorio@hotmail.com -
         * Ingeniero en Sistemas Copmutacionales.
         */

        $(document).ready(function () {
            $("#error").show();
        });

    </script>
{% endblock %}
