{% extends 'base/body.html' %}
{% load staticfiles %}
{% block description %}Inventario de Testigoa de la red 7, 13, 40 y A+{% endblock %}
{% block title %}Inventario de Testigos{% endblock %}
{% block additionalheadexternalafter %}
    <link href="{% static 'dist/css/navbar.css' %}" rel="stylesheet" media="screen">

    <link href="{% static 'dist/css/jquery.dataTables.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'dist/css/select.dataTables.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'dist/css/dataTables.searchHighlight.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block headerbutton %}
    <button type="button" class="btn navbar-btn btn-outline-success mr-sm-2"
            onclick="javascript:buttonUpdate()">Actualizar
    </button>
    <a class="btn btn-outline-info mr-sm-2" href="{% url 'start_viewfinderweb' %}">
        Monitor de Testigos
    </a>
{% endblock %}
{% block section %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="row justify-content-center">
                    <div class="col-xl-2">
                        <div class="row">
                            <div class="col-md-12 ">
                                Red:
                            </div>
                            <div class="form-group col-md-12">
                                <select id="list_red" class="combobox input-large form-control form-control-sm"
                                        name="normal">
                                    <option value="0" selected="selected">Todos</option>
                                    <option value="1">Red 7</option>
                                    <option value="2">Red 13</option>
                                    <option value="3">Red 40</option>
                                    <option value="4">Red A+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Inventario de Testigos</li>
                </ol>
            </div>
            <div class="col-xl-12">
                <table class="table cell-border" id="datatable" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr align="center">
                        <th><strong>NO</strong></th>
                        <th><strong>ID TESTIGO</strong></th>
                        <th><strong>NOMBRE</strong></th>
                        <th><strong>MUX</strong></th>
                        <th><strong>ESTADO</strong></th>
                        <th><strong>REPORTE</strong></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block additionalfooterexternalbefore %}
    <script>window.jQuery || document.write('<script src="{%  static '/assets/js/vendor/jquery.min.js' %}"><\/script>')</script>
{% endblock %}
{% block additionalfooterexternalafter %}
    <script type="text/javascript" src="{% static 'dist/js/jquery.dataTables.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'dist/js/dataTables.select.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'dist/js/dataTables.searchHighlight.min.js' %}"
            charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'dist/js/jquery.highlight.js' %}" charset="UTF-8"></script>

    <script type="text/javascript" src="{% static '/dist/js/bootstrap-combobox.js' %}" charset="UTF-8"></script>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" charset="UTF-8">

        /**
         * Created by Jose Daniel Hernandez Osorio - isc.danielosorio@hotmail.com -
         * Ingeniero en Sistemas Copmutacionales.
         */

        var datatable;

        $(document).ready(
            function () {

                $("#list_red").change(function () {
                    var data = getTypeRed();
                    if (null != data) {
                        update(search());
                    }
                });

                $('.combobox').combobox();

                var data = search();
                update(data);

                datatable.on('draw', function () {
                    var body = $(datatable.table().body());
                    body.unhighlight();
                    body.highlight(datatable.search());
                });

                setInterval(function () {
                    var datatemporary = search();
                    console.log('viewfinder ' + datatemporary);
                    update(datatemporary);
                }, 600000);

            });

        function update(datas) {

            var number = 0;

            var table = $('#datatable').DataTable();
            table.destroy();

            datatable = $('#datatable').DataTable({
                "language": {
                    select: {
                        rows: {
                            _: "%d filas seleccionadas",
                            0: "Haga click en la fila para seleccionar",
                            1: "1 fila seleccionada"
                        }
                    },
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                "searchHighlight": true,
                "scrollY": 730,
                "select": true,
                "bLengthChange": false,
                "processing": true,
                "data": datas,
                "paging": false,
                "sDom": '<"row"<"col-sm-3 text-center"f><"col-sm-9 text-center"p>>rti',
                "columns": [
                    {"data": "NO"},
                    {"data": "ID"},
                    {"data": "NOMBRE"},
                    {"data": "MUX"},
                    {"data": "ESTADO"},
                    {"data": "REPORTE"}
                ],
                "columnDefs": [{
                    className: "text-center folio",
                    "targets": [0],
                    "width": "5%"
                }, {
                    className: "text-center",
                    "targets": [1],
                    "width": "10%"
                }, {
                    className: "text-center",
                    "targets": [2],
                    "width": "50%"
                }, {
                    className: "text-center",
                    "targets": [3],
                    "width": "8%"
                }, {
                    className: "text-center",
                    "targets": [4],
                    "render": function (data, type, row, meta) {
                        var id = row["ID_REPORTE"];
                        switch (id) {
                            case 0:
                                return 'Sin Reporte Activo';
                            case 1:
                                return "<img src='{% static 'media/Configuracion_Grabador/32.png' %}'>";
                            case 2:
                                return "<img src='{% static 'media/Configuracion_Envio/32.png' %}'>";
                            case 3:
                                return "<img src='{% static 'media/Configuracion_Servidor_BD/32.png' %}'>";
                            case 4:
                                return "<img src='{% static 'media/Configuracion_Testigo_WEB/32.png' %}'>";
                            case 5:
                                return "<img src='{% static 'media/Grabador_Trabado/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 6:
                                return "<img src='{% static 'media/Grabador_Mala_Calidad/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 7:
                                return "<img src='{% static 'media/Grabador_Videos_Pequeños/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 8:
                                return "<img src='{% static 'media/Grabador_No_Graba/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 9:
                                return "<img src='{% static 'media/Grabador_Otro/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 10:
                                return "<img src='{% static 'media/Envio_Trabado/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 11:
                                return "<img src='{% static 'media/Envio_Multiple/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 12:
                                return "<img src='{% static 'media/Envio_No_Conecta_Servidor/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 13:
                                return "<img src='{% static 'media/Envio_Otro/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 14:
                                return "<img src='{% static 'media/No_Conecta_VNC/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 15:
                                return "<img src='{% static 'media/No_Conecta_Contraseña_No_Conocida/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 16:
                                return "<img src='{% static 'media/No_Conecta_Enlace_Lento/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 17:
                                return "<img src='{% static 'media/No_Conecta_Otro/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 18:
                                return "<img src='{% static 'media/Hardware_Sin_Sintonizadores/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 19:
                                return "<img src='{% static 'media/Hardware_Cambio_Tarjeta/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 20:
                                return "<img src='{% static 'media/Hardware_Tarjeta_Dañada/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 21:
                                return "<img src='{% static 'media/Hardware_Disco_Duro_Dañado/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 22:
                                return "<img src='{% static 'media/Hardware_No_Enciende/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 23:
                                return "<img src='{% static 'media/Hardware_PC_Trabada/32.png' %}'>" + RN(row["ID_ESTADO"]);
                            case 24:
                                return "<img src='{% static 'media/Hardware_Otro/32.png' %}'>"  + RN(row["ID_ESTADO"]);
                            default:
                                return "<a href=\"#\" class=\"alert-link\">" + id + "</a>";
                        }
                    }
                }, {
                    className: "text-center",
                    "targets": [5],
                    "width": "8%",
                    "render": function (data, type, row, meta) {
                        var id = row["ID"];
                        return "<a href=\"{% url 'start_report_witness' %}" + id + "\" class=\"btn btn-info btn-sm\">Reporte</a>";
                    }
                }],
                "select": {
                    style: "single"
                },
                "order": [[2, "asc"]]
            });
        }

        function RN(option) {
            switch (option) {
                case 3:
                    return "<img src='{% static 'media/Reporte_RN/32.png' %}'>";
                case 4:
                    return "<img src='{% static 'media/Tarjeta_WIN-TV_Entregada_RN/32.png' %}'>";
                case 5:
                    return "<img src='{% static 'media/Disco_Duro_Entregado_RN/32.png' %}'>";
                case 6:
                    return "<img src='{% static 'media/CPU_Entregado_RN/32.png' %}'>";
                default:
                    return "";
            }
        }

        function search() {
            return JSON.parse($.ajax({
                type: "GET",
                url: "json_00030",
                data: {
                    type_network: getTypeRed()
                },
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data["error"])
                        location.reload(true);
                    return data;
                }
            }).responseText);
        }

        function getTypeRed() {
            var date = $('select[id=list_red]').val();
            return date;
        }

        function buttonUpdate() {
            datatemporary = search();
            console.log(datatemporary);
            update(datatemporary);
        }

    </script>
{% endblock %}
